/* used colors  */
.color-yellow {
  color: #f47f4c;
}
.color-blue {
  color: #3d4ff3;
}

body {
  font-family: "Cairo", sans-serif;
  /* font-family: 'Staatliches', cursive; */
}
.container-1 {
  width: 80%;
  margin: auto;
}
/* =========================================
header section starts here 
========================================= */
.bg-hero {
  background-color: #fff9f4;
}
.navbar-text {
  font-weight: bold;
  color: #272525 !important;
}

/* section hero starts here  */
.section-hero {
  padding: 100px 0 !important;
}
.hero-img {
  width: 90% !important;
  margin-top: -20px;
}
.hero-btn-text {
  background-color: #3d4ff3;
}
.hero-header {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -4px;
}
.hero-header-1 {
  color: #f47f4c;
}
.hero-header-2 {
}
/* section hero ends here  */
/* ===========================================
header section ends here 
=========================================== */
/* ============================================
section casual shoe 
============================================ */
.header-primary {
  font-family: "Staatliches", cursive;
  font-size: 50px;
}
.shoe-img {
  background-color: #f2f2f2;
}
.shoe-btn {
  background: #3d4ff3;
}
/* ============================================
section casual shoe 
============================================ */
